.header{
    display: flex;
    flex-direction: column;
 
}
.Web3dashboard{
    font-family: "Montserrat";
    font-size: 28px;
    font-weight: 600;
    line-height: 36.4px;
    margin-bottom: 4px;
}
.web3dashboardPara{
    color: #667085;
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat";
    line-height: 25.6px;
    margin-top: 0px;
}
.part2{
    display: flex;
    margin-bottom: 24px;
    
}
.div1{
    background-color: white;
    border-radius: 20px;
    padding: 28px 24px;
    margin-right: 24px;
    width: 360px;
}
.totalBalance{
    color: #667085;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    margin-top: 0;
    margin-bottom: 0;
}
.cs180{
color: #1D1F2C;
font-family: 'Montserrat';
font-size: 32px;
font-weight: 500;
line-height: 41.6px;
margin-top: 0;
margin-bottom: 0;
margin-right: 25px;
}
.percent{
    color: #00C24ED6;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    line-height: 22.4px;
    margin-top: 0;
    margin-bottom: 0;
}
.calc{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 16px;
 
}
.lastUpdated{
    color: #667085;
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat";
    line-height: 25.6px;
    margin-top: 0px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 24px;
}
.claimProfit{
    border-radius: 8px;
    height: 48px;
    background-color: #0F68FF;
    color: #FFFFFF;
    padding: 15px 27px;
    border: none;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
}
.buyNft{
    border-radius: 8px;
    height: 48px;
    background-color:#FFFFFF ;
    color:#0F68FF ;
    padding: 15px 43px;
    border:1px solid #0F68FF;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
}
.infodiv{
    display: flex;
    width: 100%;
    border-radius: 8px;
    background-color:  rgba(243, 174, 69, 0.12);
    padding-top:12px ;
    padding-bottom:12px ;
    padding-left:16px ;
    gap: 12px;
    height: 48px;
}
.infodiv p{
    color: #F3AE45;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    margin-top: 0;
}
.div2{
    background-color: white;
    border-radius: 20px;
    padding: 28px 24px; 
  min-width: 60%;
  width: 736px;
}
.div2header{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  
}
.webNftsdiv2{
    margin-top: 0;
    display: flex;
    flex-direction: column;
}
.mywebnft{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 0;
}
.selectNft{
    color: #667085;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    margin-top: 0;
    margin-bottom: 0;
}
.BUYnft{
    margin-top: 11px;
    margin-bottom: 11px;
    padding: 7px 12px;
    border-radius: 8px;
    height: 34px;
    background-color: #0F68FF;
    color: #FFFFFF;
    border: none;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
}
.nftCards{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 18px;
    overflow-x: auto;         
    scrollbar-width: none;
}
.nftCards::-webkit-scrollbar {
    display: none;             
}
  .nftCards img {
    flex-shrink: 0;           
              
  }
  .graphs{
    display: flex;
    gap: 24px;
    margin-bottom: 24px
    ;
  }
  .graph1{
    border-radius: 20px;
    background-color: #FFFFFF;
    width: 50%;
    padding: 28px 24px;
  }
  .graphHeader{
    display: flex;
    justify-content: space-between;
  }
  .graph2{
    border-radius: 20px;
    background-color: #FFFFFF;
    width: 50%;
    padding: 28px 24px;
  }
  .graphpara1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat";
    line-height: 26px;
  }
  .graphpara2{
    color: #667085;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .dropdown-container {
    display: inline-block;
  }
  
  .dropdown-button {
    background-color: white;       
    border: 1px solid #F0F1F3;   
    border-radius: 8px;          
    padding: 8px 12px;           
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    color: #667085;             
    display: flex;              
    align-items: center;
    cursor: pointer;
  }
  
  .arrow {
    margin-left: 8px;        
    height: 12px;
    width: 12px;      
  }
  .Graphcalc{
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
  }
  .calc1{
    display: flex;
    margin-top: 32px;
    width: 50%;
  }
  .imagediv{
    margin-top: 8px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #F9F9FC;
  }
  .graphparas1{
    color: #667085;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .graphparas2{
    color: #1D1F2C;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .css-czsps1-MuiTableHead-root{
    background-color: #F9F9FC;
    color: #667085 ;
  }
  .css-bmnu5q-MuiTableCell-root{
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
  }
  .Table{
    margin-top: 32px;
    border-radius: 20px;

}
.Status{
    background-color: rgba(79, 190, 136, 0.12);
    border-radius: 8px;
    color: #4FBE88;
    padding: 6px 12px;
}
.table-buttons{
  display: flex;
  flex-direction: row;
  gap: 16px;
}
@media (min-width: 665px) and (max-width: 1172px) {
    .part2{
        display: flex;
       flex-direction: column;
       gap:24px;
        
    } 
    .div1{
        width: 100%;
    }
    .div2{
        width: 100%;
    }
    .graphs{
        display: flex;
        gap: 24px;
       flex-direction: column;
        
      }
      .graph1{
        width: 100%;
      }
      .graph2{
        width: 100%;
      }
}
@media (min-width:412px) and (max-width: 664px) {
    .part2{
        display: flex;
       flex-direction: column;
       gap:24px;
        
    } 
    .div1{
        width: 100%;
    }
    .div2{
        width: 100%;
    }
    .graphs{
        display: flex;
        gap: 24px;
       flex-direction: column;
        
      }
      .graph1{
        width: 100%;
      }
      .graph2{
        width: 100%;
      }
      .div2header{
      
        display: flex;
        flex-direction: column;
    gap: 10px;
       
      
    }
    .tableHeader{
      display: flex;
      flex-direction: column;
      align-items: center;

    }
 }
 @media  (max-width: 411px) {
    .part2{
        display: flex;
       flex-direction: column;
       gap:24px;
        
    } 
    .div1{
        width: 100%;
    }
    .div2{
        width: 100%;
    }
    .graphs{
        display: flex;
        gap: 24px;
       flex-direction: column;
        
      }
      .graph1{
        width: 100%;
      }
      .graph2{
        width: 100%;
      }
      .div2header{
      
        display: flex;
        flex-direction: column;
    gap: 10px;
      
    }
    .buttons{
      display: flex;
      flex-direction: column;
      gap: 16px;
   
  }
  .cs180{
   
    font-size: 24px;
   
    }
    .infodiv{
      display: flex;
      width: 100%;
      border-radius: 8px;
      background-color:  rgba(243, 174, 69, 0.12);
      padding-top:12px ;
      padding-bottom:12px ;
      padding-left:16px ;
      gap: 12px;
      height: auto;
  }
  .infodiv p{
      color: #F3AE45;
      font-size: 14px;
      font-weight: 400;
      line-height: 22.4px;
      margin-top: 0;
  }
  .graphHeader{
    align-items: center;
    display: flex;
    flex-direction: column;
   gap: 10px;
  }
  .para{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .Graphcalc{
    display: flex;
    flex-direction: column;
    width: 100%;
   
  }
  .tableHeader{
    display: flex;
    flex-direction: column;
    align-items: center;

  } 
 }

  